@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: sans-serif;
  font-size: 14px;
  accent-color: #314AE7;
  font-family: 'Inter', sans-serif;
}

/* Setting the grid layout */
.app_container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-rows: 64px 64px 1fr;
  grid-auto-columns: 220px 1fr;
}

/* Styling the top navigation. Layout done with flex */
nav {
  grid-column: 2 / 3;
  display: flex;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -1px;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatars {
  display: flex;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background-color: #314AE7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border: 1px solid white;
  margin-right: -4px;
  color: white;
}

.one {
  background-color: #E73131;
}

.two {
  background-color: #33B668;
}

.three {
  background-color: #F8C308;
}

button {
  height: 32px;
  border: none;
  border-radius: 4px;
  padding-inline: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 250ms ease;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid #e2e2e2;
}

.secondary-btn:hover {
  background-color: #e5e5e5;
  border: 1px solid #e1e1e1;
}

.primary-btn {
  background-color: #314AE7;
  color: white;
}

.primary-btn:hover {
  background-color: #1730D0;
}


/* Styling the header. Layout done with flex */
header {
  grid-column: 2 / 3;
  border-bottom: 1px solid #dadce0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

/* Styling the Breadcrumbs. Layout done with flex */

.breadcrumbs > ul {
  display: flex;
  gap: 8px;
  margin-left: 20px;
}

.drafts {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 20px;
} 

/* Styling the toggle. Layout done with flex */

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 99px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #314AE7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

input:focus-visible + .slider {
  outline: 2px solid #2196F3;
  outline-offset: 2px;
}

.side-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  border-right: 1px solid #dadce0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
}

li > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li > a:hover {
  color: #314AE7;
  cursor: pointer;
}

.storage {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: bold;
}

/* Styling the progress bar */

.progress { 
  height: 12px;
  position: relative;
  background: #E1E1E1;
  border-radius: 99px;
  padding: 1px;
}

.progress > span {
  display: block;
  height: 100%;
  border-radius: 20px 8px 8px 20px;
  background-color: #314AE7;
}

.storage > a {
  text-decoration: none;
  font-size: 12px;
  color: #314AE7;
  font-weight: 500;
}

/* Styling the Table */

table {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
}

thead {
  background-color: #f3f3f3;
  border-radius: 8px 8px 0px 0px;
}

thead > tr {
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  color: black;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
  color: #535353;
}

tbody tr:hover {
  background-color: #f6f6f6;
}

.first {
  width: 32px;
}

.second {
  min-width: 18%;
  align-items: left;
}

.third {
  width: 24%;
}

.fourth {
  width: 120px;
}

.fifth {
  width: 60px;
  text-align: right;
}

.sixth {
  width: 32px;
}

/* Making the layout responsive */

@media screen and (max-width: 960px) {
  .app_container {
    grid-auto-columns: 1fr;
  }
  
  .side-nav {
    display: none;
  }
  
  table, nav, header {
  grid-column: 1 / 3;
  }
}

@media screen and (max-width: 680px) {
  .third, .fourth, .avatars, .drafts, .secondary-btn {
    display: none;
  }
}